<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>tickets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--
<div *ngIf = "tickets.length > 0; else notickets">-->
  <ion-list class="card"
        #cardProducto
        *ngFor = "let ticket of tickets"
        [routerLink] = "['/ticket',ticket.noTicket]"
    >
        <ion-item class="card-header d-flex justify-content-between 
        align-item-center" 
        >
            {{ticket.id_ticket}} - ${{ticket.subtotal}} - {{ticket.time_ticket}}
            <ion-button class="btn btn-sm btn-primary"
            [routerLink] = "['/ticket',ticket.id_ticket]"
            >Ver</ion-button>
            <button class="btn btn-sm btn-primary"
            >Print</button>
        </ion-item><!--div card ticket id-->
    </ion-list>
    <!-- fab placed to the top start -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="crearTicket()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!--
  </div> div if-->
  <ng-template #notickets>
    <p>No hay tickets</p>
  </ng-template>
</ion-content>
