<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-sliding *ngFor="let producto of productos">
        <ion-item>
          <ion-label>
             {{producto.id_producto}} {{producto.description}} ${{producto.price}}
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option 
          (click) = "editarProducto()"
          color="primary">
            <ion-icon slot="bottom" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            Editar
          </ion-item-option>
          <ion-item-option color="secondary">
            <ion-icon slot="bottom" name="archive"></ion-icon>
            Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="crearProducto()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-list>
</ion-content>
